body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(./assets/fundo1.jpg);    color: #ffffff;
    background-color:  rgb(20, 20, 20);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin-top: 20px;
}
footer {
    background-image: url(.assets/fundo1.jpg);
    color: #fffefe;
    padding: 20px;
    text-align: center;
    display: none;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: repeat(3, 100px); 
    gap: 10px;
}

.card {
    display: block;
    width: 100px; 
    height: 100px; 
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}


.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card .card-front img,
.card .card-back img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.card.flipped {
    transform: rotateY(180deg);
}

.difficulty {
    margin-top: 20px;
}

.difficulty button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.timer {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.easy {
    background-color: #39FF14;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.easy:hover {
    background-color: #33cc0d;
    transform: scale(1.05);
}

.medium {
    background-color: #f1bc09;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.medium:hover {
    background-color: #dba308;
    transform: scale(1.05);
}

.hard {
    background-color: #bd162c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hard:hover {
    background-color: #a31225;
    transform: scale(1.05);
}


.custom-dialog {
    position: fixed;
    height: 70px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(59deg, rgba(10, 3, 41, 1) 10%, rgba(60, 36, 128, 1) 35%, rgba(238, 77, 202, 1) 100%);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #ffffff;
    z-index: 1000;
}

.custom-dialog-content {
    text-align: center;
    background: linear-gradient(59deg, rgba(10, 3, 41, 1) 10%, rgba(60, 36, 128, 1) 35%, rgba(238, 77, 202, 1) 100%);
}

.custom-dialog button {
    height: 40px;
    width: 80px;
    margin-left: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
