body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Silkscreen', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(./assets/fundo1.jpg);    color: #ffffff;
    background-color:  rgb(20, 20, 20);
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    font-family: 'Silkscreen', sans-serif;
}

h1 {
    margin-top: 20px;
}

footer {
    background-image: url(.assets/fundo1.jpg);
    color: #fffefe;
    padding: 20px;
    text-align: center;
    display: none;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: repeat(3, 100px); 
    gap: 10px;
}

.card {
    display: block;
    width: 100px; 
    height: 100px; 
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

div .card {
    background: url('./assets/c-back.jpg');
    background-size: contain;
}

.flipped {
    visibility: visible !important;
}

.card-front {
    max-width: 100%;
    max-height: 100%;
    display: block;
    visibility: hidden;
}

.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card .card-front img,
.card .card-back img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    visibility: hidden;
}

.card.flipped {
    transform: rotateY(360deg);
}

.difficulty {
    margin-top: 20px;
}

.difficulty button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.timer {
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

.easy {
    background-color: #39FF14;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.easy:hover {
    background-color: #33cc0d;
    transform: scale(1.05);
}

.medium {
    background-color: #f1bc09;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.medium:hover {
    background-color: #dba308;
    transform: scale(1.05);
}

.hard {
    background-color: #bd162c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hard:hover {
    background-color: #a31225;
    transform: scale(1.05);
}

.custom-dialog {
    position: fixed;
    height: 100px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(ellipse at bottom, #ec44c2ff, #881d72ff, #411d6dff, #010005ff);
    border: 1px solid #141414;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #ffffff;
    z-index: 1000;
}

.custom-dialog-content {
    text-align: center;
    
}

.custom-dialog button {
    height: 40px;
    width: 80px;
    margin-left: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
    }
}

.hide {
    animation: disappear 0.6s ease-in-out forwards;
}